.cheat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65vw;
    height: auto;
    background-color:rgb(30, 212, 197);
    margin: auto;
    margin-top: 7vh;
    margin-bottom: 8.1vh;
    padding: 5vh;
    border-radius: 2rem;
    animation: spin .3s;
    overflow: auto;
}

.cheat-name{
    display: block;
    width: 60vw;
    margin: auto;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
     margin: 30px;
     /* border: 2px solid green; */
}

.cheat-name:hover{
         background-color: aqua;
         padding: 10px;
         border-radius: 10px;
         overflow: auto;
      text-align: center;
}




